.pill {
  display: block;
  padding: 0.5rem 1.25rem;
  border-radius: 99rem;
}

.list-separator {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
}

.list-separator::after {
  content: "";
  width: 6rem;
  align-self: end;
  border-bottom: 0.125rem solid var(--alternate);
}
