.pill {
  display: block;
  padding: 0.5rem 1.25rem;
  border-radius: 99rem;
}

.list-separator {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
}

.list-separator::after {
  content: "";
  width: 6rem;
  align-self: end;
  border-bottom: 0.125rem solid var(--alternate);
}

.highlight > * {
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.5rem;
  line-height: 1.9;
  background-color: var(--bg-white);
}

animated-carousel {
  display: grid; /* this fixes overflow for some reason? */
}

animated-carousel ul {
  /* puts every child into a full-width column */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

animated-carousel li {
  scroll-snap-align: center;
}
