.hstack {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hstack.wrap {
  flex-wrap: wrap;
}

.vstack {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.center {
  max-width: var(--measure, 80rem);
  margin-left: auto;
  margin-right: auto;
}

.cover {
  display: grid;
  place-content: center;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.switcher > * {
  --threshold: 28rem;
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.flow > * + * {
  margin-top: 1.5em;
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}
