.hstack {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hstack.wrap {
  flex-wrap: wrap;
}

.vstack {
  display: grid;
  gap: 1rem;
  align-content: start;
}

.center {
  max-width: var(--measure-wide);
  margin-left: auto;
  margin-right: auto;
}

.center.narrow {
  max-width: var(--measure-narrow);
}

.cover {
  display: grid;
  place-content: center;
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.switcher > * {
  --threshold: 28rem;
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.flow :is(h2, h3, h4, h5, h6) {
  --flow-space: 3rem;
}

.flow > .callout + * {
  --flow-space: calc(var(--gutter) * 0.75);
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.layout {
  --max-width: var(--measure-narrow);
  --spacer: calc(50vw - (var(--max-width) / 2) - var(--gutter));
  --content: minmax(0, auto);
  display: grid;
  grid-template-columns:
    [full-start]
    var(--gutter)
    var(--spacer)
    [content-start]
    var(--content)
    [content-end]
    var(--spacer)
    var(--gutter)
    [full-end];
}

.layout.wide {
  --max-width: var(--measure-wide);
}

.layout > * {
  grid-column: content;
}

.layout--full {
  grid-column: full;
}

.layout--right {
  float: right;
  width: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.layout--left {
  float: left;
  width: 50%;
  margin-top: 1rem;
  margin-right: 1rem;
}

.layout--inherit {
  display: grid;
  grid-template-columns: inherit;
}

.layout--inherit > * {
  grid-column: content;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(19rem, 100%), 1fr));
  gap: 1rem;
  align-content: start;
}
