.vh {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gap-none,
.gap-none {
  gap: 0;
}

.gap-sm,
.gap-sm {
  gap: 0.5rem;
}

.gap-md,
.gap-md {
  gap: 1rem;
}

.gap-lg,
.gap-lg {
  gap: 1.5rem;
}

.gap-xl,
.gap-xl {
  gap: 2rem;
}

.gap-xxl,
.gap-xxl {
  gap: 4rem;
}

.pad-sm {
  padding: 0.5rem;
}

.pad-md {
  padding: 1rem;
}

.pad-lg {
  padding: 1.5rem;
}

.pad-xl {
  padding: 2rem;
}

.pad-xxl {
  padding: 4rem;
}

.pad-gutter {
  padding: var(--gutter);
}

.py-gutter {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

.fz-sm {
  font-size: 0.875rem;
}

.fz-md {
  font-size: 1rem;
}

.fz-lg {
  font-size: 1.25rem;
}

.fz-xl {
  font-size: 1.5rem;
}

.fz-xxl {
  font-size: 2rem;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
}

.ai-center {
  align-items: center;
}

.ai-stretch {
  align-items: stretch;
}

.jc-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ji-center {
  justify-items: center;
}

.js-start {
  justify-self: start;
}

.js-end {
  justify-self: end;
}

.js-stretch {
  justify-self: stretch;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-grey {
  background-color: var(--bg-grey);
}

.bg-mid {
  background-color: var(--bg-mid);
}

.invert {
  background-color: var(--text);
  color: var(--bg-white);
}

.text-align\:left {
  text-align: left;
}

.text-align\:center {
  text-align: center;
}

.text-align\:right {
  text-align: right;
}

.mh-25 {
  min-height: 25vh;
}

.leading-sm {
  line-height: 1.2;
}

.grow {
  flex: 1;
}

@media (max-width: 40rem) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 40rem) {
  .hide-above-mobile {
    display: none;
  }
}

.td-hover {
  text-decoration-line: none;
}

.td-hover:hover {
  text-decoration-line: underline;
}

.color-text-light {
  color: var(--textLight);
}

.width\:full {
  width: 100%;
}
